<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Notícias</title>
</head>
<body>
    
    
</body>
</html>









<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Info News</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">Info News</div>
            <div class="menu">
                <div class="links">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/noticias">Posts</a></li>
                        <li><a href="/newpost">Novo Post</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container-new-post">
        <div class="new-post">
            <form action="">
                <h1>Adicionar novo post</h1>
                <input class="titulo" type="text" placeholder="Insira o título do post">
                <h4>Imagem</h4>
                <input class="file" type="file">
                <textarea class="textarea" rows="15" placeholder="Insira o conteúdo aqui"></textarea>
                <input class="postar" type="submit" value="Postar">
            </form>
        </div>
    </div>

    
  
  <script src="/model/script.js"></script>
</body>
</html>